.git
.github
.gitignore
.pytest_cache
.mypy_cache
.ruff_cache
__pycache__
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
.venv
dist
build
htmlcov
.coverage
node_modules
realtime-service/node_modules
realtime-service/.clinic